main:
    PATH_CONFIG_PERSO: /home/realitix/git/tracker-hardware/app/config_perso.yml
    URL_API: http://localhost/api/v1/captures
    IFACE: alpha1
    PATH_DB: /home/realitix/git/tracker-hardware/tracker.db
    PATH_SESSION: /home/realitix/git/tracker-hardware/session
    PATH_DUMP_WAITING_COMPRESS: /home/realitix/git/tracker-hardware/dump/waiting-compress
    PATH_DUMP_WAITING_SEND: /home/realitix/git/tracker-hardware/dump/waiting-send
    FILE_USER_ID: /home/realitix/git/tracker-hardware/session/userId
    FILE_USER_KEY: /home/realitix/git/tracker-hardware/session/userKey
    FILE_PLACE_ID: /home/realitix/git/tracker-hardware/session/placeId
    FILE_BOX_ID: /home/realitix/git/tracker-hardware/session/boxId
    SCAPY_FILTER: "type mgt and (subtype probe-req or subtype assoc-req or subtype reassoc-req)"
    REALTIME: false